layout python

if has poetry; then
  source <(poetry completions zsh)
fi

export ROOT=$(git rev-parse --show-toplevel)
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"

# Put personal configs in .envrc.private
source_env_if_exists .envrc.private
