layout python

if has poetry; then
  source <(poetry completions zsh)
fi

export QUAY_USERNAME="matthew_pfefferle_weka"
export QUAY_PASSWORD="$(op item get --vault Weka "Quay.io CLI" --fields password)"
export ROOT=$(git rev-parse --show-toplevel)
