{
  "branches": [
    {
      "name": "main",
      "prerelease": "dev"
    },
    {
      "name": "release/v1",
      "prerelease": false
    },
    {
      "name": "release/*",
      "prerelease": "${name.replace(/^release\\//, '')}"
    }
  ],
  "plugins": [
    [
          "@semantic-release/exec",
          {
            "verifyReleaseCmd": "echo ${nextRelease.version} > .VERSION"
          }
    ],
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    "@semantic-release/git"
  ],
  "preset": "conventionalcommits"
}

