{
  "branches": [
    "main",
    {"name": "release/alpha", "prerelease": "alpha"},
    {"name": "release/beta", "prerelease": "beta"},
    "release/v1"
  ],
  "plugins": [
    [
          "@semantic-release/exec",
          {
            "verifyReleaseCmd": "echo ${nextRelease.version} > .VERSION"
          }
    ]
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/github",
    "@semantic-release/git"
  ],
  "preset": "conventionalcommits"
}

