{{- if .Values.webhook.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: "{{ .Values.prefix }}-webhook-certgen"
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: webhook-certgen
    app.kubernetes.io/created-by: weka-operator
    app.kubernetes.io/part-of: weka-operator
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - create
      - patch
      - update
{{- end }}
