---
# Default values for weka-operator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Prefix for all resources created by the operator
prefix: "weka-operator"

image:
  repository: quay.io/weka.io/weka-operator
  # Override only, default equals to the chart version
  tag: ""

imagePullSecret: quay-cred
deployController: true
# -- experimental: enables custtom HTTP API endpoint as alternative to K8s API
enableClusterApi: false
# -- custom endpoint to send OTLP traces to (insecure, GRPC).
# If left empty, traces are sent to stdout in json format.
otelExporterOtlpEndpoint: ""
# -- can be overridden with any other basic linux image
maintenanceImage: busybox
# -- if required, you can specify a pull secret for that image
# maintenanceImagePullSecret: ""
# -- used by various operations that are not in context of wekacluster/wekacontainer, for example: GC of persistent storage/removal of tobmstones
wekaHomeEndpoint: https://api.home.weka.io
persistence:
  containerTombstone:
    gc:
      enabled: true
      interval: 5m
      retention: 72h

ocpCompatibility:
  # -- automatically create Tuned profile for the cluster nodes to apply hugepages configuration.
  # -- WARNING: do not enable this feature if you are already using custom Tuned profiles for setting hugepages
  hugepageConfiguration:
    # -- if enabled, the operator will configure hugepages for the OCP nodes
    enabled: true
    # -- on which nodes to configure hugepages
    machineConfigNodeLabel: "worker"
    # -- hugepage size
    hugepageSize: "2M"
    # -- hugepage count
    hugepagesCount: 4000
    nodeSelector:
      matchLabels:
        - node-role.kubernetes.io/worker: ""

gkeCompatibility:
  # -- automatically configure hugepages for the GKE nodes
  hugepageConfiguration:
    # -- if enabled, the operator will configure hugepages for the GKE nodes (WARNING: will reboot nodes forcefully!)
    enabled: false
    # -- hugepage size
    hugepageSize: "2M"
    # -- hugepage count
    hugepageCount: 4000
  # -- if enabled, the operator will disable driver signing enforcement on the GKE nodes (WARNING: will reboot nodes forcefully!)
  disableDriverSigning: false

debugSleep: 3
