---
# Default values for weka-operator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Prefix for all resources created by the operator
prefix: "weka-operator"

image:
  repository: quay.io/weka.io/weka-operator
  tag: 0.40.0

imagePullSecret: quay-cred
deployController: true
enableClusterApi: false
