---
# Default values for weka-operator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Prefix for all resources created by the operator
prefix: "weka-operator"

image:
  repository: quay.io/weka.io/weka-operator
  # Override only, default equals to the chart version
  tag: ""

imagePullSecret: quay-cred
deployController: true
# -- experimental: enables custtom HTTP API endpoint as alternative to K8s API
enableClusterApi: false
# -- custom endpoint to send OTLP traces to (insecure, GRPC).
# If left empty, traces are sent to stdout in json format.
otelExporterOtlpEndpoint: ""
maintenanceImage: busybox
# -- used by various operations that are not in context of wekacluster/wekacontainer, for example: GC of persistent storage/removal of tobmstones
wekaHomeEndpoint: https://api.home.weka.io
persistence:
  containerTombstone:
    gc:
      enabled: true
      interval: 5m
      retention: 72h
debugSleep: 3