---
- name: Download k3s
  get_url:
    url: https://get.k3s.io
    dest: /tmp/install_k3s.sh

- name: Select Endpoint IP
  shell: "hostname -I | awk '{print $1}'"
  register: hostname_output

- set_fact:
    endpoint_ip: "{{ hostname_output.stdout }}"

- name: Uninstall Old K3s
  shell: /usr/local/bin/k3s-uninstall.sh
  args:
    removes: /usr/local/bin/k3s

- name: Run Installer
  shell: "sh /tmp/install_k3s.sh server --cluster-init --tls-san {{ inventory_hostname }}"
  args:
    creates: /usr/local/bin/k3s

- name: Ensure k3s started
  service:
    name: k3s
    state: restarted

- name: Generate Join Token
  slurp:
    src: /var/lib/rancher/k3s/server/token
  register: join_token_b64

- set_fact:
    join_token: "{{ join_token_b64.content | b64decode }}"

- name: Grab Kubeconfig
  slurp:
    path: /etc/rancher/k3s/k3s.yaml
  register: k3s_yaml_b64

- name: Reading Kubeconfig
  set_fact:
    k3s_yaml: "{{ k3s_yaml_b64.content | b64decode | from_yaml }}"

- name: Update K8s Endpoint
  ansible.utils.update_fact:
    updates:
      - path: "k3s_yaml.clusters[0].cluster.server"
        value: "{{ api_endpoint }}"
  register: local_k3s_yaml

- name: Write local k3s.yaml
  copy:
    dest: "{{ root }}/k3s.yaml"
    content: "{{ local_k3s_yaml.k3s_yaml | to_yaml }}"
  delegate_to: localhost
