---
- name: Creating operator namespace
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: namespace
      metadata:
        name: weka-operator-system

- name: Creating image pull secret - quay-cred
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: quay-cred
        namespace: weka-operator-system
      type: kubernetes.io/dockerconfigjson
      data:
        .dockerconfigjson: "{{ lookup('template', 'dockerconfig.json.j2') | tojson |  b64encode }}"

- name: Creating CLI Secret
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: weka-cli
        namespace: weka-operator-system
      type: kubernetes.io/basic-auth
      stringData:
        username: admin
        password: admin
