---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.3
  name: wekamanualoperations.weka.weka.io
spec:
  group: weka.weka.io
  names:
    kind: WekaManualOperation
    listKind: WekaManualOperationList
    plural: wekamanualoperations
    singular: wekamanualoperation
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Status
      jsonPath: .status.status
      name: Status
      priority: 1
      type: string
    - description: Time since creation
      jsonPath: .metadata.creationTimestamp
      name: Age
      priority: 2
      type: date
    - description: Result
      jsonPath: .status.result
      name: Result
      priority: 3
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: WekaManualOperation is the Schema for the wekamanualoperations
          API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: WekaManualOperationSpec defines the desired state of WekaManualOperation
            properties:
              action:
                type: string
              image:
                type: string
              imagePullSecret:
                type: string
              payload:
                properties:
                  blockDrivesPayload:
                    properties:
                      node:
                        type: string
                      serialIDs:
                        items:
                          type: string
                        type: array
                    required:
                    - node
                    - serialIDs
                    type: object
                  discoverDrivesPayload:
                    properties:
                      nodeSelector:
                        additionalProperties:
                          type: string
                        type: object
                    type: object
                  remoteTracesSessionPayload:
                    properties:
                      cluster:
                        properties:
                          name:
                            type: string
                          namespace:
                            type: string
                        required:
                        - name
                        - namespace
                        type: object
                      duration:
                        type: string
                      nodeSelector:
                        additionalProperties:
                          type: string
                        type: object
                      wekahomeEndpointOverride:
                        type: string
                    type: object
                  signDrivesPayload:
                    properties:
                      devicePaths:
                        items:
                          type: string
                        type: array
                      nodeSelector:
                        additionalProperties:
                          type: string
                        type: object
                      pciDevices:
                        description: |-
                          PCI vendor and device IDs of the drives to sign.
                          To get the values for VendorId and DeviceId:
                          1. Run the following command to list all PCI devices on your system:
                             ```bash
                             lspci -nn
                             ```
                          2. Find the relevant PCI device in the output, which will display both the
                             vendor and device IDs in square brackets in the format [vendorId:deviceId].
                             For example:
                             ```
                             00:1f.0 Non-Volatile memory controller [0108]: Amazon.com, Inc. NVMe SSD Controller [1d0f:cd01]
                             ```
                        properties:
                          deviceId:
                            description: |-
                              DeviceId is the 4-digit hexadecimal device ID
                              default for AWS: `cd01` (NVMe SSD)
                            pattern: ^[0-9a-fA-F]{4}$
                            type: string
                          vendorId:
                            description: |-
                              VendorId is the 4-digit hexadecimal vendor ID
                              default for AWS: `1d0f` (Amazon.com, Inc.)
                            pattern: ^[0-9a-fA-F]{4}$
                            type: string
                        required:
                        - deviceId
                        - vendorId
                        type: object
                      type:
                        type: string
                    required:
                    - type
                    type: object
                type: object
              tolerations:
                items:
                  description: |-
                    The pod this Toleration is attached to tolerates any taint that matches
                    the triple <key,value,effect> using the matching operator <operator>.
                  properties:
                    effect:
                      description: |-
                        Effect indicates the taint effect to match. Empty means match all taint effects.
                        When specified, allowed values are NoSchedule, PreferNoSchedule and NoExecute.
                      type: string
                    key:
                      description: |-
                        Key is the taint key that the toleration applies to. Empty means match all taint keys.
                        If the key is empty, operator must be Exists; this combination means to match all values and all keys.
                      type: string
                    operator:
                      description: |-
                        Operator represents a key's relationship to the value.
                        Valid operators are Exists and Equal. Defaults to Equal.
                        Exists is equivalent to wildcard for value, so that a pod can
                        tolerate all taints of a particular category.
                      type: string
                    tolerationSeconds:
                      description: |-
                        TolerationSeconds represents the period of time the toleration (which must be
                        of effect NoExecute, otherwise this field is ignored) tolerates the taint. By default,
                        it is not set, which means tolerate the taint forever (do not evict). Zero and
                        negative values will be treated as 0 (evict immediately) by the system.
                      format: int64
                      type: integer
                    value:
                      description: |-
                        Value is the taint value the toleration matches to.
                        If the operator is Exists, the value should be empty, otherwise just a regular string.
                      type: string
                  type: object
                type: array
            required:
            - action
            - image
            - imagePullSecret
            - payload
            type: object
          status:
            description: WekaManualOperationStatus defines the observed state of WekaManualOperation
            properties:
              completedAt:
                format: date-time
                type: string
              result:
                type: string
              status:
                type: string
            required:
            - completedAt
            - result
            - status
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
