---
# Terraform builds the EKS and Weka clusters
- name: Build EKS Cluster
  hosts: localhost
  gather_facts: false
  tags:
    - terraform
  tasks:
    - name: Run Terraform
      community.general.terraform:
        project_path: "{{ root }}/terraform/eks"
        state: present

- name: Discover Hosts
  hosts: localhost
  gather_facts: false
  tags:
    - discovery
    - provision_backend
  tasks:
    - name: Discover EKS Nodes
      ec2_instance_info:
        filters:
          "tag:eks:nodegroup-name": weka-mpfefferle-weka-node-group
      register: eks_nodes
    - name: Register Frontend
      add_host:
        name: "{{ item.public_ip_address }}"
        groups:
          - weka_frontend
          - ec2
          - eks
        ansible_user: ec2-user
        ansible_ssh_private_key_file: "{{ lookup('ansible.builtin.env', 'HOME') }}/.ssh/weka_dev_ssh_key"
      with_items: "{{ eks_nodes.instances }}"
    - name: Discover Weka Backend Nodes
      ec2_instance_info:
        filters:
          "tag:weka_cluster_name": mpfefferle
      register: weka_cluster
    - name: Register Backend
      add_host:
        name: "{{ item.public_ip_address }}"
        groups:
          - weka_backend
          - ec2
        ansible_user: ec2-user
        ansible_ssh_private_key_file: "{{ lookup('ansible.builtin.env', 'HOME') }}/.ssh/weka_dev_ssh_key"
      with_items: "{{ weka_cluster.instances }}"

- name: Provision Backend
  hosts: weka_backend
  become: true
  tags:
    - provision_backend
  vars:
    kernel_full_version: "{{ ansible_kernel }}"
  tasks:
    - name: Find installed drivers
      find:
        patterns:
          - "wekafs(gw|io).ko"
          - "mpin_user.ko"
        paths: /opt/weka/data
        recurse: true
        use_regex: true
      register: found_drivers

    - name: Copy drivers to web root
      file:
        src: "{{ item.path }}"
        dest: "/opt/weka/dist/image/{{ item.path | basename | splitext | first | replace('_', '-') }}-{{ kernel_full_version }}-{{ weka_version }}.ko"
        state: link
      loop: "{{ found_drivers.files }}"


# Development Prerequisites in Kubernetes
# - Operator namespace
# - Image pull secret
# - CLI secret, this is used by the agent to authenticate with the Weka cluster
# - Install OLM
# - Install KMM
- name: Configuring Prerequisites in kubernetes
  tags: k8s_prerequisites
  hosts: localhost
  vars:
    dockerconfigjson_b64: "eyJhdXRocyI6eyJxdWF5LmlvIjp7InVzZXJuYW1lIjoibWF0dGhld19wZmVmZmVybGVfd2VrYSIsInBhc3N3b3JkIjoidC9sZVppOHVwQmo1c3hmOVg5RFkrK0h4RUlVNUQ2WFVRTHIxM203ZHNEdjlBclpoUW1UdVRyV1Bkc0lzTUdGM3I1UzAzWXFuSzZKZDZMeEFObnYxZEE9PSIsImF1dGgiOiJiV0YwZEdobGQxOXdabVZtWm1WeWJHVmZkMlZyWVRwMEwyeGxXbWs0ZFhCQ2FqVnplR1k1V0RsRVdTc3JTSGhGU1ZVMVJEWllWVkZNY2pFemJUZGtjMFIyT1VGeVdtaFJiVlIxVkhKWFVHUnpTWE5OUjBZemNqVlRNRE5aY1c1TE5rcGtOa3g0UVU1dWRqRmtRVDA5In19fQ=="
  tasks:
    - name: Creating operator namespace
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: namespace
          metadata:
            name: weka-operator-system
    - name: Creating image pull secret - quay-cred
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Secret
          metadata:
            name: quay-cred
            namespace: weka-operator-system
          type: kubernetes.io/dockerconfigjson
          data:
            .dockerconfigjson: "{{ dockerconfigjson_b64 }}"
    - name: Creating CLI Secret
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Secret
          metadata:
            name: weka-cli
            namespace: weka-operator-system
          type: kubernetes.io/basic-auth
          stringData:
            username: admin
            password: admin

    - name: Install OLM
      shell: curl -sL https://github.com/operator-framework/operator-lifecycle-manager/releases/download/v0.26.0/install.sh | bash -s v0.26.0
      register: olm_install
      failed_when: olm_install.rc != 0 and "OLM is already installed" not in olm_install.stdout
      changed_when: "'OLM is already installed' not in olm_install.stdout"

    - name: Install KMM
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: operators.coreos.com/v1alpha1
          kind: Subscription
          metadata:
            name: my-kernel-module-management
            namespace: operators
          spec:
            channel: alpha
            name: kernel-module-management
            source: operatorhubio-catalog
            sourceNamespace: olm

    - name: Install Registry
      kubernetes.core.k8s:
        state: present
        src: "{{ root }}/charts/weka-operator/templates/registry.yaml"

    - name: Install Builder
      kubernetes.core.k8s:
        state: present
        src: "{{ root }}/charts/weka-operator/templates/builder_config.yaml"
