---
# Terraform builds the EKS and Weka clusters
- name: Build EKS Cluster
  hosts: localhost
  gather_facts: false
  tags:
    - terraform
  tasks:
    - name: Run Terraform
      community.general.terraform:
        project_path: "{{ root }}/terraform/eks"
        state: present

- name: Discover Hosts
  hosts: localhost
  gather_facts: false
  tags:
    - discovery
    - provision_backend
  tasks:
    - name: Discover EKS Nodes
      ec2_instance_info:
        filters:
          "tag:eks:nodegroup-name": weka-mpfefferle-weka-node-group
          instance-state-name: running
      register: eks_nodes
      failed_when: eks_nodes.instances | length == 0

    - name: Register Frontend
      add_host:
        name: "{{ item.public_ip_address }}"
        groups:
          - weka_frontend
          - ec2
          - eks
        ansible_user: ec2-user
        ansible_ssh_private_key_file: "{{ lookup('ansible.builtin.env', 'HOME') }}/.ssh/weka_dev_ssh_key"
      with_items: "{{ eks_nodes.instances }}"

    - name: Discover Weka Backend Nodes
      ec2_instance_info:
        filters:
          "tag:weka_cluster_name": mpfefferle
          instance-state-name: running
      register: weka_cluster
    - name: Register Backend
      add_host:
        name: "{{ item.public_ip_address }}"
        groups:
          - weka_backend
          - ec2
        ansible_user: ec2-user
        ansible_ssh_private_key_file: "{{ lookup('ansible.builtin.env', 'HOME') }}/.ssh/weka_dev_ssh_key"
      with_items: "{{ weka_cluster.instances }}"

- name: Provision Frontend
  hosts: weka_frontend
  become: true
  tags:
    - provision_frontend
  tasks:
    - name: Remove existing drivers
      shell: "rmmod {{ item }}"
      loop:
        - mpin_user
        - igb_uio
        - wekafsgw
        - wekafsio
      ignore_errors: true


- name: Provision Backend
  hosts: weka_backend
  become: true
  tags:
    - provision_backend
  vars:
    kernel_full_version: "{{ hostvars[groups['weka_frontend'][0]].ansible_kernel }}"
    driver_root: "/opt/weka/dist/drivers"
  tasks:
    # tar each driver into file named <driver-name>-<weka-version>-<kernel-version>.<arch>.tar.gz
    # wekafs(gw|io) are packaged in a single tarball
    - name: Find wekafs drivers
      find:
        patterns:
          - "wekafs(gw|io).ko"
          - "igb_uio.ko"
          - "mpin_user.ko"
        paths: /opt/weka/data
        recurse: true
        use_regex: true
      register: drivers

    - name: Create driver directory
      file:
        path: "{{ driver_root }}"
        state: directory

    - name: Archive drivers
      archive:
        path: "{{ item.path }}"
        dest: "{{ driver_root }}/{{ item.path | basename | splitext | first }}-{{ weka_version }}-{{ kernel_full_version }}.x86_64.tar.gz"
        format: gz
        force_archive: true
      loop: "{{ drivers.files }}"

# Development Prerequisites in Kubernetes
# - Operator namespace
# - Image pull secret
# - CLI secret, this is used by the agent to authenticate with the Weka cluster
# - Install OLM
# - Install KMM
- name: Configuring Prerequisites in kubernetes
  tags: k8s_prerequisites
  hosts: localhost
  vars:
    dockerconfigjson_b64: "eyJhdXRocyI6eyJxdWF5LmlvIjp7InVzZXJuYW1lIjoibWF0dGhld19wZmVmZmVybGVfd2VrYSIsInBhc3N3b3JkIjoidC9sZVppOHVwQmo1c3hmOVg5RFkrK0h4RUlVNUQ2WFVRTHIxM203ZHNEdjlBclpoUW1UdVRyV1Bkc0lzTUdGM3I1UzAzWXFuSzZKZDZMeEFObnYxZEE9PSIsImF1dGgiOiJiV0YwZEdobGQxOXdabVZtWm1WeWJHVmZkMlZyWVRwMEwyeGxXbWs0ZFhCQ2FqVnplR1k1V0RsRVdTc3JTSGhGU1ZVMVJEWllWVkZNY2pFemJUZGtjMFIyT1VGeVdtaFJiVlIxVkhKWFVHUnpTWE5OUjBZemNqVlRNRE5aY1c1TE5rcGtOa3g0UVU1dWRqRmtRVDA5In19fQ=="
  tasks:
    - name: Creating operator namespace
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: namespace
          metadata:
            name: weka-operator-system
    - name: Creating image pull secret - quay-cred
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Secret
          metadata:
            name: quay-cred
            namespace: weka-operator-system
          type: kubernetes.io/dockerconfigjson
          data:
            .dockerconfigjson: "{{ dockerconfigjson_b64 }}"
    - name: Creating CLI Secret
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Secret
          metadata:
            name: weka-cli
            namespace: weka-operator-system
          type: kubernetes.io/basic-auth
          stringData:
            username: "{{ lookup('amazon.aws.aws_secret', 'weka/weka-mpfefferle/weka-username-2oGY') }}"
            password: "{{ lookup('amazon.aws.aws_secret', 'weka/weka-mpfefferle/weka-password-2oGY') }}"
    - name: Supervisord Conf
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: ConfigMap
          metadata:
            name: supervisord-conf
            namespace: weka-operator-system
          data:
            supervisord.conf: |
              [inet_http_server]
              port=127.0.0.1:9001

              [supervisorctl]
              serverurl=http://127.0.0.1:9001

              [supervisord]
              logfile = /dev/stdout
              logfile_maxbytes = 0
              loglevel = debug
              syslog_facility=local0
              syslog_tag=test
              syslog_stdout_priority=debug
              syslog_stderr_priority=err

              [program:agent]
              command=/usr/bin/weka --agent
              redirect_stderr=true
              priority=100
              stdout_logfile=syslog @udp:localhost:514
              syslog_facility=local0
              syslog_tag=weka-agent
              syslog_stdout_priority=info
              syslog_stderr_priority=err

              [program:client]
              command=/opt/start-weka-client.sh
              redirect_stderr=true
              priority=200
              stdout_logfile=syslog @udp:localhost:514
              syslog_facility=local0
              syslog_tag=weka-client
              syslog_stdout_priority=debug
              syslog_stderr_priority=err
              stopsignal=TERM
              stopwaitsecs=60

              [program:syslog]
              command=/usr/sbin/syslog-ng -F -f /etc/syslog-ng/syslog-ng.conf
              redirect_stderr=true
              priority=10
              stdout_logfile=/dev/stdout, /var/log/syslog.log
