---
- name: Build lab VMs
  hosts: localhost
  tags: build_vms
  gather_facts: false
  tasks:
    - debug:
        var: frontend_lab_name
    - name: Lookup existing labs
      shell: "{{ teka }} lab list {{ frontend_lab_name }} --name-only || /usr/bin/true"
      args:
        chdir: "{{ wekapp_root }}"
      register: frontend_list
    - debug:
        var: frontend_list.stdout
    - name: Creating Lab
      shell: "{{ teka }} lab provision --size {{ frontend_cluster_size }} --os {{ os }} --env {{ env }} {{ frontend_lab_name }}"
      args:
        chdir: "{{ wekapp_root }}"
      when: frontend_list.stdout == ""
      register: create_frontent_lab_output
    - name: Quarntine frontend
      shell: "{{ teka }} lab quarantine {{ frontend_lab_name }}"
      args:
        chdir: "{{ wekapp_root }}"
      when: create_frontent_lab_output is not skipped

    - name: Lookup existing backend lab
      shell: "{{ teka }} lab list {{ backend_lab_name }} --name-only || /usr/bin/true"
      args:
        chdir: "{{ wekapp_root }}"
      register: backend_list
    - name: Creating Backend Lab
      shell: "{{ teka }} lab provision --size {{ backend_cluster_size }} --os ubuntu20 --env {{ env }} {{ backend_lab_name }}"
      args:
        chdir: "{{ wekapp_root }}"
      when: backend_list.stdout == ""
      register: create_backend_lab_output
    - name: Quarntine backend
      shell: "{{ teka }} lab quarantine {{ backend_lab_name }}"
      args:
        chdir: "{{ wekapp_root }}"
      when: create_backend_lab_output is not skipped

    - name: Install Weka on Backend
      shell: "{{ teka }} install {{ backend_lab_name }}"
      args:
        chdir: "{{ wekapp_root }}"
      when: create_backend_lab_output is not skipped

- name: Wait for nodes to be ready
  hosts: oci_all
  tags: wait_ready
  gather_facts: false
  tasks:
    - name: Waiting for connection
      wait_for_connection:
        delay: 15
        sleep: 60
        timeout: 3600
        connect_timeout: 15

- name: Label Nodes
  tags: label_nodes
  hosts: backend_hosts:&oci_all:&oci_all
  tasks:
    - name: Label nodes
      shell: "kubectl label nodes {{ ansible_hostname }} weka.io/role=backend"

- name: Label Nodes
  tags: label_nodes
  hosts: dist_hosts:&oci_all
  tasks:
    - name: Label nodes
      shell: "kubectl label nodes {{ ansible_hostname }} weka.io/role=builder --overwrite"

- name: Configuring Prerequisites in kubernetes
  tags: k8s_prerequisites
  hosts: localhost
  vars:
    dockerconfigjson_b64: "eyJhdXRocyI6eyJxdWF5LmlvIjp7InVzZXJuYW1lIjoibWF0dGhld19wZmVmZmVybGVfd2VrYSIsInBhc3N3b3JkIjoidC9sZVppOHVwQmo1c3hmOVg5RFkrK0h4RUlVNUQ2WFVRTHIxM203ZHNEdjlBclpoUW1UdVRyV1Bkc0lzTUdGM3I1UzAzWXFuSzZKZDZMeEFObnYxZEE9PSIsImF1dGgiOiJiV0YwZEdobGQxOXdabVZtWm1WeWJHVmZkMlZyWVRwMEwyeGxXbWs0ZFhCQ2FqVnplR1k1V0RsRVdTc3JTSGhGU1ZVMVJEWllWVkZNY2pFemJUZGtjMFIyT1VGeVdtaFJiVlIxVkhKWFVHUnpTWE5OUjBZemNqVlRNRE5aY1c1TE5rcGtOa3g0UVU1dWRqRmtRVDA5In19fQ=="
  tasks:
    - name: Creating operator namespace
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: namespace
          metadata:
            name: weka-operator-system
    - name: Creating image pull secret - quay-cred
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Secret
          metadata:
            name: quay-cred
            namespace: default
          type: kubernetes.io/dockerconfigjson
          data:
            .dockerconfigjson: "{{ dockerconfigjson_b64 }}"
    - name: Creating image pull secret - quay-cred
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Secret
          metadata:
            name: quay-cred
            namespace: weka-operator-system
          type: kubernetes.io/dockerconfigjson
          data:
            .dockerconfigjson: "{{ dockerconfigjson_b64 }}"
    - name: Creating image pull secret - quay-cred
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Secret
          metadata:
            name: quay-cred
            namespace: default
          type: kubernetes.io/dockerconfigjson
          data:
            .dockerconfigjson: "{{ dockerconfigjson_b64 }}"
    - name: Creating CLI Secret
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Secret
          metadata:
            name: weka-cli
            namespace: weka-operator-system
          type: kubernetes.io/basic-auth
          stringData:
            username: admin
            password: admin
