---
- name: Cleanup e2e Test Cluster
  hosts: oci_all
  tasks:
    - name: Clean container storage
      file:
        path: /opt/k8s-weka/containers
        state: absent

    - name: Remove Weka kernel module
      modprobe:
        name: "{{ item }}"
        state: absent
      loop:
        - mpin_user
        - igb_uio
        - wekafsgw
        - wekafsio
      ignore_errors: true

    - name: Restart Kubernetes
      service:
        name: k3s
        state: restarted
      throttle: 1
