---
- name: Provision Frontend Nodes
  tags: provision_frontend
  hosts: frontend_hosts:&physical_lab
  remote_user: root
  roles:
    - common
  tasks:
    - debug:
        var: inventory_hostname
    - set_fact:
        k8s_node_name: "{{ ansible_hostname }}.lan"

    - name: Install k3s
      include_role:
        name: k3s
      vars:
        phase: install
        api_endpoint: "https://{{ inventory_hostname }}:6443"

    - name: Label nodes
      shell: |
        kubectl label nodes {{ k8s_node_name }} weka.io/role=client
      environment:
        KUBECONFIG: "{{ root }}/k3s.yaml"
      delegate_to: localhost

- name: Backend Parameters from Frontend
  tags: provision_backend
  hosts: frontend_hosts:&physical_lab
  gather_facts: true
  remote_user: root
  tasks:
    - set_fact:
        kernel_full_version: "{{ ansible_kernel }}"
      delegate_to: "{{ item }}"
      delegate_facts: true
      loop: "{{ groups.backend_hosts }}"

- name: Provision Backend Nodes
  tags: provision_backend
  hosts: backend_hosts:&physical_lab
  remote_user: root
  roles:
    - common
  tasks:
    - debug:
        msg: "{{ kernel_full_version }}"
    - name: Archive Drivers
      include_role:
        name: drivers
      vars:
        driver_root: "/opt/weka/dist/drivers"
        arch: "{{ ansible_architecture }}"

- name: Configure Kubernetes Prerequisites
  tags: k8s_prerequisites
  hosts: localhost
  tasks:
    - name: Common Resources
      include_role:
        name: k3s
      vars:
        phase: resources
        docker_username: "{{ lookup('env', 'QUAY_USERNAME') }}"
        docker_password: "{{ lookup('env', 'QUAY_PASSWORD') }}"
