apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: weka-operator-system
  name: weka-image-registry
spec:
  replicas: 1
  selector:
    matchLabels:
      app: weka-image-registry
  template:
    metadata:
      labels:
        app: weka-image-registry
    spec:
      containers:
        - name: registry
          image: registry:2
          ports:
            - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  namespace: weka-operator-system
  name: weka-image-registry
spec:
  selector:
    app: weka-image-registry
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
  type: ClusterIP
