---
apiVersion: v1
kind: ConfigMap
metadata:
  name: supervisord-conf
  namespace: weka-operator-system
data:
  supervisord.conf: |
    [supervisord]
    logfile = /dev/stdout
    logfile_maxbytes = 0
    loglevel = debug
    syslog_facility=local0
    syslog_tag=test
    syslog_stdout_priority=debug
    syslog_stderr_priority=err

    [program:agent]
    command=/usr/bin/weka --agent
    redirect_stderr=true
    priority=100
    stdout_logfile=syslog @udp:localhost:514
    syslog_facility=local0
    syslog_tag=weka-agent
    syslog_stdout_priority=info
    syslog_stderr_priority=err

    [program:client]
    command=/opt/start-weka-client.sh
    redirect_stderr=true
    priority=200
    stdout_logfile=syslog @udp:localhost:514
    syslog_facility=local0
    syslog_tag=weka-client
    syslog_stdout_priority=debug
    syslog_stderr_priority=err

    [program:syslog]
    command=/usr/sbin/syslog-ng -F -f /etc/syslog-ng/syslog-ng.conf
    redirect_stderr=true
    priority=10
    stdout_logfile=/dev/stdout, /var/log/syslog.log
