---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  creationTimestamp: null
  name: clients.weka.weka.io
spec:
  group: weka.weka.io
  names:
    kind: Client
    listKind: ClientList
    plural: clients
    singular: client
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Client is the Schema for the clients API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ClientSpec defines the desired state of Client
            properties:
              agent:
                properties:
                  debug:
                    type: boolean
                type: object
              backendIP:
                type: string
              client:
                properties:
                  debug:
                    type: boolean
                type: object
              coreIds:
                items:
                  format: int32
                  type: integer
                type: array
              image:
                default: quay.io/weka.io/weka-in-container
                type: string
              imagePullSecretName:
                type: string
              ioNodeCount:
                format: int32
                type: integer
              managementPortBase:
                format: int32
                type: integer
              version:
                description: 'Example: 4.2.6.3212-61e9145d99a867bf6aab053cd75ea77f'
                pattern: ^([0-9]{1,3}\.){2}[0-9]{1,3}(\..*)?$
                type: string
              wekaOrg:
                type: string
              wekaPassword:
                description: EnvVarSource represents a source for the value of an
                  EnvVar.
                properties:
                  configMapKeyRef:
                    description: Selects a key of a ConfigMap.
                    properties:
                      key:
                        description: The key to select.
                        type: string
                      name:
                        description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                          TODO: Add other useful fields. apiVersion, kind, uid?'
                        type: string
                      optional:
                        description: Specify whether the ConfigMap or its key must
                          be defined
                        type: boolean
                    required:
                    - key
                    type: object
                    x-kubernetes-map-type: atomic
                  fieldRef:
                    description: 'Selects a field of the pod: supports metadata.name,
                      metadata.namespace, `metadata.labels[''<KEY>'']`, `metadata.annotations[''<KEY>'']`,
                      spec.nodeName, spec.serviceAccountName, status.hostIP, status.podIP,
                      status.podIPs.'
                    properties:
                      apiVersion:
                        description: Version of the schema the FieldPath is written
                          in terms of, defaults to "v1".
                        type: string
                      fieldPath:
                        description: Path of the field to select in the specified
                          API version.
                        type: string
                    required:
                    - fieldPath
                    type: object
                    x-kubernetes-map-type: atomic
                  resourceFieldRef:
                    description: 'Selects a resource of the container: only resources
                      limits and requests (limits.cpu, limits.memory, limits.ephemeral-storage,
                      requests.cpu, requests.memory and requests.ephemeral-storage)
                      are currently supported.'
                    properties:
                      containerName:
                        description: 'Container name: required for volumes, optional
                          for env vars'
                        type: string
                      divisor:
                        anyOf:
                        - type: integer
                        - type: string
                        description: Specifies the output format of the exposed resources,
                          defaults to "1"
                        pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                        x-kubernetes-int-or-string: true
                      resource:
                        description: 'Required: resource to select'
                        type: string
                    required:
                    - resource
                    type: object
                    x-kubernetes-map-type: atomic
                  secretKeyRef:
                    description: Selects a key of a secret in the pod's namespace
                    properties:
                      key:
                        description: The key of the secret to select from.  Must be
                          a valid secret key.
                        type: string
                      name:
                        description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                          TODO: Add other useful fields. apiVersion, kind, uid?'
                        type: string
                      optional:
                        description: Specify whether the Secret or its key must be
                          defined
                        type: boolean
                    required:
                    - key
                    type: object
                    x-kubernetes-map-type: atomic
                type: object
              wekaUsername:
                description: EnvVarSource represents a source for the value of an
                  EnvVar.
                properties:
                  configMapKeyRef:
                    description: Selects a key of a ConfigMap.
                    properties:
                      key:
                        description: The key to select.
                        type: string
                      name:
                        description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                          TODO: Add other useful fields. apiVersion, kind, uid?'
                        type: string
                      optional:
                        description: Specify whether the ConfigMap or its key must
                          be defined
                        type: boolean
                    required:
                    - key
                    type: object
                    x-kubernetes-map-type: atomic
                  fieldRef:
                    description: 'Selects a field of the pod: supports metadata.name,
                      metadata.namespace, `metadata.labels[''<KEY>'']`, `metadata.annotations[''<KEY>'']`,
                      spec.nodeName, spec.serviceAccountName, status.hostIP, status.podIP,
                      status.podIPs.'
                    properties:
                      apiVersion:
                        description: Version of the schema the FieldPath is written
                          in terms of, defaults to "v1".
                        type: string
                      fieldPath:
                        description: Path of the field to select in the specified
                          API version.
                        type: string
                    required:
                    - fieldPath
                    type: object
                    x-kubernetes-map-type: atomic
                  resourceFieldRef:
                    description: 'Selects a resource of the container: only resources
                      limits and requests (limits.cpu, limits.memory, limits.ephemeral-storage,
                      requests.cpu, requests.memory and requests.ephemeral-storage)
                      are currently supported.'
                    properties:
                      containerName:
                        description: 'Container name: required for volumes, optional
                          for env vars'
                        type: string
                      divisor:
                        anyOf:
                        - type: integer
                        - type: string
                        description: Specifies the output format of the exposed resources,
                          defaults to "1"
                        pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                        x-kubernetes-int-or-string: true
                      resource:
                        description: 'Required: resource to select'
                        type: string
                    required:
                    - resource
                    type: object
                    x-kubernetes-map-type: atomic
                  secretKeyRef:
                    description: Selects a key of a secret in the pod's namespace
                    properties:
                      key:
                        description: The key of the secret to select from.  Must be
                          a valid secret key.
                        type: string
                      name:
                        description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                          TODO: Add other useful fields. apiVersion, kind, uid?'
                        type: string
                      optional:
                        description: Specify whether the Secret or its key must be
                          defined
                        type: boolean
                    required:
                    - key
                    type: object
                    x-kubernetes-map-type: atomic
                type: object
            type: object
          status:
            description: ClientStatus defines the observed state of Client
            properties:
              conditions:
                items:
                  description: "Condition contains details for one aspect of the current
                    state of this API Resource. --- This struct is intended for direct
                    use as an array at the field path .status.conditions.  For example,
                    \n type FooStatus struct{ // Represents the observations of a
                    foo's current state. // Known .status.conditions.type are: \"Available\",
                    \"Progressing\", and \"Degraded\" // +patchMergeKey=type // +patchStrategy=merge
                    // +listType=map // +listMapKey=type Conditions []metav1.Condition
                    `json:\"conditions,omitempty\" patchStrategy:\"merge\" patchMergeKey:\"type\"
                    protobuf:\"bytes,1,rep,name=conditions\"` \n // other fields }"
                  properties:
                    lastTransitionTime:
                      description: lastTransitionTime is the last time the condition
                        transitioned from one status to another. This should be when
                        the underlying condition changed.  If that is not known, then
                        using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: message is a human readable message indicating
                        details about the transition. This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: observedGeneration represents the .metadata.generation
                        that the condition was set based upon. For instance, if .metadata.generation
                        is currently 12, but the .status.conditions[x].observedGeneration
                        is 9, the condition is out of date with respect to the current
                        state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: reason contains a programmatic identifier indicating
                        the reason for the condition's last transition. Producers
                        of specific condition types may define expected values and
                        meanings for this field, and whether the values are considered
                        a guaranteed API. The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                        --- Many .condition.type values are consistent across resources
                        like Available, but because arbitrary conditions can be useful
                        (see .node.status.conditions), the ability to deconflict is
                        important. The regex it matches is (dns1123SubdomainFmt/)?(qualifiedNameFmt)
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              containerList:
                items:
                  description: "Container is a single line from `weka cluster container`
                    \n weka cluster container -J \n Example: \n { \"container_name\":
                    \"default\", \"host_id\": \"HostId<4>\", \"host_ip\": \"10.108.244.140\",
                    \"hostname\": \"mbp-k8s-oci-backend-4\", \"last_failure\": \"Applying
                    resources on container\", \"sw_release_string\": \"4.2.8.312-6a24a384e98df01fb2ab00075d196b81\",
                    ... }"
                  properties:
                    container_name:
                      type: string
                    host_id:
                      type: string
                    host_ip:
                      type: string
                    hostname:
                      type: string
                    last_failure:
                      type: string
                    start_time:
                      type: string
                    status:
                      type: string
                    sw_release_string:
                      type: string
                  type: object
                type: array
              processList:
                items:
                  description: "Process is a single weka process running in the agent
                    container This is a single line of output from `weka local ps`
                    Example: \n { \"APIPort\": 14000, \"containerPid\": 66, \"internalStatus\":
                    { \"display_status\": \"READY\", \"message\": \"Ready\", \"state\":
                    \"READY\" }, \"isDisabled\": false, \"isManaged\": false, \"isMonitoring\":
                    true, \"isPersistent\": true, \"isRunning\": true, \"lastFailure\":
                    \"Added to cluster\", \"lastFailureText\": \"Added to cluster
                    (1 hour ago)\", \"lastFailureTime\": \"2023-12-15T14:17:24.576897Z\",
                    \"name\": \"client\", \"runStatus\": \"Running\", \"type\": \"weka\",
                    \"uptime\": 5693.65999999999985, \"versionName\": \"4.2.7.442-4ba059e153b2dce7e3e490bfc43eb5e2\"
                    }"
                  properties:
                    apiPort:
                      format: int32
                      type: integer
                    containerPid:
                      format: int32
                      type: integer
                    internalStatus:
                      properties:
                        display_status:
                          type: string
                        message:
                          type: string
                        state:
                          type: string
                      type: object
                    isDisabled:
                      type: boolean
                    isManaged:
                      type: boolean
                    isMonitoring:
                      type: boolean
                    isPersistent:
                      type: boolean
                    isRunning:
                      type: boolean
                    lastFailure:
                      type: string
                    lastFailureText:
                      type: string
                    lastFailureTime:
                      type: string
                    name:
                      type: string
                    runStatus:
                      type: string
                    type:
                      type: string
                    uptime:
                      type: string
                    versionName:
                      type: string
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
