---
name: Build
on:
  push:

permissions:
  contents: read

jobs:
  optimize_ci:
    runs-on: ubuntu-latest
    outputs:
      skip: ${{ steps.check_skip.outputs.skip }}
    steps:
      - name: Optimize CI
        id: check_skip
        uses: withgraphite/graphite-ci-action@v0.0.9
        with:
          graphite_token: ${{ secrets.GRAPHITE_TOKEN }}
  build:
    runs-on: ubuntu-latest
    needs: optimize_ci
    if: needs.optimize_ci.outputs.skip == 'false'
    env:
      GOPRIVATE: github.com/weka

    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.SCALAR_WORKERS_APP_ID }}
          private-key: ${{ secrets.SCALAR_WORKERS_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      - name: Setup access for private go modules
        run: |
          git config --global url."https://x-access-token:${{ steps.app-token.outputs.token }}@github.com/".insteadOf https://github.com/
          git config --global url."https://x-access-token:${{ steps.app-token.outputs.token }}@github.com/".insteadOf git@github.com:
          echo "machine github.com login x-access-token password ${{ steps.app-token.outputs.token }}" > ~/.netrc
          chmod 600 ~/.netrc

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          token: ${{ steps.app-token.outputs.token }}

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache: true
          cache-dependency-path: |
            go.sum
            pkg/weka-k8s-api/go.sum
            pkg/go-steps-engine/go.sum

      - name: Setup envtest
        run: |
          make envtest
          ./bin/setup-envtest use --bin-dir ./bin 1.26.0

      - name: Test
        run: |
          go generate ./...
          make generate
          make test
