name: dagger_ci_on_merge_queue_plan
on:
  pull_request:
    types: [opened, synchronize, labeled, reopened]

# make sure only one workflow is running at a time
concurrency:
  group: upgrade-test
  cancel-in-progress: false

env:
  INITIAL_WEKA_VERSION: "quay.io/weka.io/weka-in-container:4.4.5.95-k8s-safe-stop-and-metrics-alpha"
  NEW_WEKA_VERSION: "quay.io/weka.io/weka-in-container:4.4.5.118-k8s.3"

jobs:
  optimize_ci:
    runs-on: ubuntu-latest
    outputs:
      skip: ${{ steps.check_skip.outputs.skip }}
    steps:
    - name: Optimize CI
      id: check_skip
      uses: withgraphite/graphite-ci-action@main
      with:
        graphite_token: ${{ secrets.GRAPHITE_TOKEN }}

  run_condition_check:
    needs: optimize_ci
    if: |
      needs.optimize_ci.outputs.skip == 'false' &&
      (startsWith(github.head_ref, 'gtmq_') || 
      contains(github.event.pull_request.labels.*.name, 'run_ci_on_merge_queue_plan')) &&
      !contains(github.event.pull_request.labels.*.name, 'skip_ci_on_merge_queue_plan')
    runs-on: ubuntu-latest
    steps:
      - name: Show PR Info
        run: |
          echo "PR branch: ${{ github.head_ref }}"
          echo "Target branch: ${{ github.base_ref }}"
          echo "Labels: ${{ toJson(github.event.pull_request.labels) }}"

  ci_on_merge_queue_plan:
    needs: [optimize_ci, run_condition_check]
    if: needs.optimize_ci.outputs.skip == 'false' && needs.run_condition_check.result == 'success'
    env:
      GOPRIVATE: github.com/weka
    name: ci_on_merge_queue_plan
    runs-on: scalar-runners
    steps:
      - name: Check Docker
        run: |
          docker version
          docker info

      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.SCALAR_WORKERS_APP_ID }}
          private-key: ${{ secrets.SCALAR_WORKERS_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
 
      - name: Checkout operator repository
        uses: actions/checkout@v4
        with:
          path: operator
          submodules: true
          token: ${{ steps.app-token.outputs.token }}

      - name: Checkout wekai repository
        uses: actions/checkout@v4
        with:
          repository: weka/wekai
          token: ${{ steps.app-token.outputs.token }}
          path: wekai

      - name: Checkout testing repository
        uses: actions/checkout@v4
        with:
          repository: weka/weka-k8s-testing
          token: ${{ steps.app-token.outputs.token }}
          path: testing
          submodules: true

      - name: Save Kubeconfig(s)
        run: |
          mkdir -p ${{ github.workspace }}/.kube
          echo "${{ secrets.UPGRADE_TEST_KUBECONFIG }}" > ${{ github.workspace }}/.kube/config
          echo "${{ secrets.OCP_CLUSTER_KUBECONFIG }}" > ${{ github.workspace }}/.kube/ocp-cluster-config
          chmod 600 ${{ github.workspace }}/.kube/config
          chmod 600 ${{ github.workspace }}/.kube/ocp-cluster-config

      - name: Call Generate Test Artifacts
        uses: dagger/dagger-for-github@8.0.0
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        with:
          version: "latest"
          workdir: operator/.dagger/src
          module: operator_flows
          args: >-
            generate-pr-test-artifacts
            --operator=${{ github.workspace }}/operator
            --pr-number=${{ github.event.pull_request.number }}
            --gh-token="env://GH_TOKEN"
            --openai-api-key="env://OPENAI_API_KEY"
            export --path ${{ github.workspace }}/test-artifacts

      - name: Call Dagger Function
        uses: dagger/dagger-for-github@8.0.0
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        with:
          version: "latest"
          workdir: operator/.dagger/src
          module: operator_flows
          args: >-
            ci-on-merge-queue-plan
            --operator=${{ github.workspace }}/operator
            --testing=${{ github.workspace }}/testing
            --wekai=${{ github.workspace }}/wekai
            --sock=/var/run/docker.sock
            --pr-number=${{ github.event.pull_request.number }}
            --gh-token="env://GH_TOKEN"
            --openai-api-key="env://OPENAI_API_KEY"
            --gemini-api-key="env://GEMINI_API_KEY"
            --kubeconfig-path=file://${{ github.workspace }}/.kube/config
            --initial-weka-version=${{ env.INITIAL_WEKA_VERSION }}
            --new-weka-version=${{ env.NEW_WEKA_VERSION }}
            --test-artifacts-dir=${{ github.workspace }}/test-artifacts
            --use-gh-token-for-go-deps
            --check-ocp-clients-only
            --ocp-cluster-kubeconfig=file://${{ github.workspace }}/.kube/ocp-cluster-config

      - name: Upload test artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-artifacts
          path: ${{ github.workspace }}/test-artifacts
          retention-days: 1

  ci_on_merge_queue_required_status:
    needs: [run_condition_check, ci_on_merge_queue_plan]
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Validate required workflow
        run: |
          if [[ "${{ needs.run_condition_check.result }}" == "success" ]]; then
            [[ "${{ needs.ci_on_merge_queue_plan.result }}" == "success" ]] || exit 1
          fi
