name: Run Test with AI hooks
run-name: ${{ github.actor }} is running the AI test

# make sure only one workflow is running at a time
concurrency:
  group: upgrade-test
  cancel-in-progress: false

permissions:
  contents: read
  pull-requests: read
  actions: read

on:
  pull_request:
    types:
      - ready_for_review
    # branches:
    #   - main

jobs:
  optimize_ci:
    runs-on: ubuntu-latest
    outputs:
      skip: ${{ steps.check_skip.outputs.skip }}
    steps:
    - name: Optimize CI
      id: check_skip
      uses: withgraphite/graphite-ci-action@main
      with:
        graphite_token: ${{ secrets.GRAPHITE_TOKEN }}

  can_test_using_hooks:
    runs-on: ubuntu-latest
    needs: optimize_ci
    if: needs.optimize_ci.outputs.skip == 'false'
    steps:
      - name: Checkout operator
        uses: actions/checkout@v4
      - name: Set up Python and install uv
        run: |
          python -m pip install --upgrade pip
          pip install uv
          
      - name: Run process_pr_hooks script
        id: run_process_hooks
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          GITHUB_PAT_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./workflows/script_process_pr_hooks.py ${{ github.event.pull_request.number }}

      - name: Upload test artifacts
        uses: actions/upload-artifact@v4
        with:
          name: test-artifacts
          path: test_artifacts/
          retention-days: 1
