---
name: Release
run-name: "Release - ${{ github.event.head_commit.message }}"

on:
  push:
    branches:
      - mbp/release-script

permissions:
  contents: write

jobs:
  semantic-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: ./.github/actions/release
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
