---
name: Release
run-name: "Release - ${{ github.event.head_commit.message }}"

on:
  push:
    branches:
      - mbp/release-script
  pull_request:
    types:
      - labeled

permissions:
  contents: write
  pull-requests: read
  repository-projects: read
  statuses: read
  checks: read

jobs:
  semantic-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: ./.github/actions/release
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
          event: ${{ github.event_name }}
