---
name: Release
run-name: Release - ${{ github.event.head_commit.message }}
on:
  push:
    branches:
      - "pre-release/**"

permissions:
  contents: write

jobs:
  semantic-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"

      - name: Install Poetry
        run: |
          pip install poetry

      - name: Install dependencies
        run: |
          poetry install

      - name: Set Channel ID
        run: |
          echo "CHANNEL=$(git branch --show-current)" >> $GITHUB_ENV

      - name: Calculate version
        run: |
          echo "VERSION=$(poetry run semantic-release version --print --build-metadata ${CHANNEL})" >> $GITHUB_ENV
          echo "TAG=$(poetry run semantic-release version --print-tag --build-metadata ${CHANNEL})" >> $GITHUB_ENV

      - uses: actions/setup-go@v4
        with:
          go-version: "~1.21.0"

      - name: Setup go
        run: |
          which go
          go version
          go mod download

      - name: Run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: python-semantic-release/python-semantic-release@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          build_metadata: ${{ env.CHANNEL }}
